.answers {
  &__choice {
    display: none;
  }

  &__label {
    display: inline-block;
    vertical-align: middle;
  }

  &__choice-custom {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
  }
  &__choice:checked + &__choice-custom:before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #413548;
    border-radius: 2px;
  }
}
